extends layout

block content
    h1= title

    div#reccs-intro
        p Thanks for signing in @#{loggedInUser["screen_name"]} - you're one step closer to a blissful feed.
        p Here are the noisiest people you follow (up to 1000) sorted by average number of tweets per day.
        p Click on any username to go unfollow them on Twitter. Refresh the page to pull the list again.

    div#reccs-content

        table#reccs.table.display
            thead
                tr
                    th
                    th Username
                    each val in prettyFriendsList["interesting_keys_titles"]
                        th=val
            tbody
                each val in prettyFriendsList["friends"]
                    tr
                        td
                            img(src=val["image"])
                        td
                            a(target = "_blank", href= baseURL + val["username"]) #{val["username"]})
                        each v in val["info"]
                            td=v

    script.
        $(document).ready(function () {

            // https://datatables.net/reference/option/
            $('#reccs').DataTable({
                "lengthChange": false,
                "searching": false,
                "pageLength": 20
            })
        })