extends layout

block content
    h1= title

    div#reccs-intro
        p Thanks for signing in @#{loggedInUser["screen_name"]} - you're one step closer to a blissful feed.
        p Here are the noisiest people you follow (up to 1000) sorted by average number of tweets per day.
        p Click on any username to go unfollow them on Twitter.

    div#reccs-content

        table#reccs.table.display
            thead
                tr
                    th
                    th Username
                    each val in prettyFriendsList["interesting_keys_titles"]
                        th=val
            tbody
                each val in prettyFriendsList["friends"]
                    tr
                        td
                            img(src=val["image"])
                        td
                            a(href= baseURL + val["username"]) #{val["username"]}
                        each v in val["info"]
                            td=v

    script.
        $(document).ready(function () {

            // https://datatables.net/reference/option/
            var table = $('#reccs').DataTable({
                "lengthChange": false,
                "searching": false,
                "pageLength": 20
            });

            $('#reccs tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            // some inspiration from https://codepedia.info/jquery-get-table-cell-td-value-div/
            // debug in console by jquery selecting and seeing whats avaialble in the object

            $("#unfollow").on('click', function () {

                var arrData = [];

                // loop over each table row (tr)
                $(".selected").each(function () {
                    var currentRow = $(this);
                    // var username = currentRow.find("td:eq(0)").text();
                    debug(currentRow)
                    var username = currentRow[0].firstChild.textContent;
                    arrData.push(username);
                });

                if (confirm("Are you sure you want to unfollow: " + arrData)) {
                    location.href = "/unfollow?userIds=" + arrData
                }
            });
        });
